.profile-image {
  position: absolute;
  left: auto;
  padding-top: 28px;
  padding-left: 12px;
}

.profile-image img {
  border-radius: 100px;
}

.body {
  position: absolute;
  left: 240px;
  padding-right: 50px;
}

.text-1 {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-size: small;
  list-style-type: none;
}

.heading-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

footer {
  position: absolute;
  padding-left: 14px;
  padding-top: 240px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-size: small;
}

footer a {
  display: flex;
  align-items: center;
}

footer img {
  border-radius: 100px;
}

@media only screen and (max-width: 800px) {
  .profile-image {
    padding-top: 14px;
  }
  .profile-image img {
    width: 100px;
    height: 100px;
  }
  .body {
    position: absolute;
    left: auto;
    padding-top: 4px;
    padding-left: 120px;
  }
  .text-1 {
    font-size: x-small;
  }
  .heading-text {
    font-size: small;
  }
  footer {
    position: absolute;
    padding-left: 12px;
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  footer img {
    width: 15px;
    height: 15px;
    border-radius: 100px;
  }
}

@media only screen and (max-width: 430px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    text-align: center;
    padding-top: 20px;
  }
  .profile-image {
    position: static;
    padding-top: 14px;
  }
  .profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
  footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  footer img {
    width: 20px;
    height: 20px;
    border-radius: 100px;
  }
  .body {
    position: static;
    padding-top: 30px;
    text-align: center;
    max-width: 90%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .text-1 {
    font-size: x-small;
  }
  .heading-text {
    font-size: small;
  }
}
